body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 3;
  background: url("https://cdn.glitch.global/fa9d7eb2-8d74-4626-8026-935c6649d458/web%20bg3.jpg?v=1723667951863")
    repeat center center; /* Replace 'your-background-image.jpg' with the actual path to your image */

  background-size: cover;
  /* site main text color*/
  color: #ffff00;
}
/*this is the top of the site header*/
header {
  background-color: ##ff0000;
  color: #85ff0d;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #555555;
  color: #ffc800;
  text-align: center;
  padding: 0.5em;
}

nav a {
  text-decoration: none;
  color: #00ff1b;
  padding: 1em;
  margin: 0 0.5em;
}

section {
  padding: 20px;
}

footer {
  /*the hex code for background color translates to grey code 333333 translates to grey in hex*/
  background-color: #333333;
  color: #00ff1b;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

iframe {
  width: 560px;
  height: 315px;
  display: block;
  margin: 0 auto;
}

h1,
h2 {
  color: #00ff1b;
}

ul {
  color: #00ff1b;
  margin: 0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

p {
  word-wrap: break-word;
}

h1 {
  text-shadow: 2px 2px red;
}

<breakpoint>

